.delete{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: .5rem;
}
.check{
    color: green;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: .5rem;
    
}

.card{
    padding: 5px !important;
    margin-right: 5px !important;
}

